html{
        background-color: rgb(186, 208, 248);
}
.borde{
        border-color: black;
        width: 70%;
        height: 800px;
        border: 2px dotted rgb(74, 66, 184);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap:20px ;
        grid-row-gap: 10px;
        justify-items: center;
        align-items: center;
}
body{
        display: flex;
        justify-content: center;
}
.imagen{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        width: 190px;
        height: 190px;
        border-radius: 100%;
}
.info{
        grid-column: 2/2;
        grid-row: 1/1;
        line-height: 8px;
        justify-self: start;
}
.NOMBRE{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        
}
.APELLIDO{
        font-family: 'Times New Roman', Times, serif;
        font-size: 55px;
}
.OCUPACION{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
}
.datos{
        grid-column: 1/1;
        grid-row: 2/2;
        justify-self: start;
}
.titulo{
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: bold;
}
.texto{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
}
.YOSOY{
        justify-self: start;;
}
.estudios{
        justify-self: start;
}
.capacita{
        justify-self: start;
}
.laburo{
        justify-self: start;
}

.referencias{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        justify-self: start;
}
